<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<div layout:fragment="content">

    <div class="row">
        <div class="col-6 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.oldpassworderror!=null}">
                Old password is incorrect!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if = "${param.passwordmismatch!=null}">
                New passwords are not same!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
                Password updated successfully!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form method="post" th:action = "@{'/to-update-password'}">
                <div class="row mt-3">
                    <div class="col-12">
                        <label>OLD PASSWORD : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="password" class="form-control" required placeholder="Old Password" name="user_old_password">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>NEW PASSWORD : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="password" class="form-control" required placeholder="New Password" name="user_new_password">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>REPEAT NEW PASSWORD : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="password" class="form-control" required placeholder="Repeat New Password" name="user_repeat_new_password">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">UPDATE PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>